:root {
    --header-color: red;
    --text-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-header {
    width: 100%;
    border: 2px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav-bar {
    appearance: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-btn {
    font-size: large;
}

/* HOME page css starts here */

#content {
    max-width: 900px;
    margin-top: 100px;
    border: 2px solid yellow;
}

#home-page-container {
    text-align: center;
    margin-top: 20px;
    color: var(--header-color);
}

#home-page-title {
    margin-bottom: 30px;
    font-weight: bold;
}

#home-page-img {
    min-height: 100px;
    min-width: 100px;
    margin: 20px;
}

#home-page-description {
    color: var(--text-color);
    padding: 20px 100px 20px 100px;
    text-align: left;
    margin-top: 20px;
}

/* MENU page starts here */

#menu-container {
    max-width: 500px;
    text-align: center;
}

.table-headers {
    font-size: 80px;
    padding: 0 20px 0 20px;
}

.row-data {
    font-size: 40px;
    padding: 5px 20px 204px 20px;
    color: var(--text-color);
}